<hr>
<section class="example-section">
    <span class="example-list-section">
        <mat-checkbox class="example-margin" [checked]="allComplete" [indeterminate]="someComplete()"
            (change)="setAll($event.checked)">
            {{task.name}}
        </mat-checkbox>
    </span>
    <span class="example-list-section">
        <ul>
            <li *ngFor="let subtask of task.subtasks">
                <mat-checkbox [(ngModel)]="subtask.completed" (ngModelChange)="updateAllComplete()">
                    {{subtask.menuName}}
                </mat-checkbox>
            </li>
        </ul>
    </span>
</section>