<h1 class="header">Đơn vị</h1>
<div class="overall">
  <div>
    <!-- <form class="form screen_header">
    <mat-form-field appearance="outline">
      <mat-label>Tìm kiếm </mat-label>
      <input
        matInput
        type="search"
        (keyup)="applyFilter($event)"
        placeholder="Nhập vào gì đó..."
        aria-label="Tìm kiếm"
        class="filter_input"
      />
    </mat-form-field>
  </form> -->
    <div class="search-box">
      <mat-form-field appearance="outline" class="filter">
        <mat-label>Mã Đơn Vị</mat-label>
        <input
          type="text"
          placeholder="Chọn"
          aria-label="Mã Đơn Vị"
          matInput
          [formControl]="unitCodeControl"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="filter">
        <mat-label>Mã Chi Nhánh</mat-label>
        <input
          type="text"
          placeholder="Chọn"
          aria-label="Mã Chi Nhánh"
          matInput
          [formControl]="branchCodeControl"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="filter">
        <mat-label>Tên Đơn Vị</mat-label>
        <input matInput [(ngModel)]="unitNameSelected" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="filter">
        <mat-label>Địa Chỉ</mat-label>
        <input matInput [(ngModel)]="addressSelected" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="filter">
        <mat-label>Loại</mat-label>
        <mat-select [(value)]="typeSelected">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let type of typeList" value="{{ type.value }}">{{
            type.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="filter">
        <mat-label>Trạng Thái</mat-label>
        <mat-select [(value)]="statusSelected">
          <mat-option>None</mat-option>
          <mat-option
            *ngFor="let status of statusList"
            value="{{ status.value }}"
            >{{ status.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <button
        mat-raised-button
        color="green"
        (click)="search()"
        class="btn-search"
      >
        <mat-icon>search</mat-icon>
        Tìm Kiếm
      </button>
      <button
        mat-raised-button
        color="green"
        (click)="add_unit()"
        class="btn-action"
      >
        Thêm
      </button>
    </div>
  </div>
  <div class="mat-elevation-z8">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="announceSortChange($event)"
      class="maintable"
      style="overflow-x: auto"
    >
      <!-- <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Hành động</th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container> -->
      <ng-container matColumnDef="select">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="header mcol"
        >
          Hành động
        </th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-raised-button
            color="green"
            [matMenuTriggerFor]="menu"
            class="btn-action"
          >
            Hành động
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="edit_unit(row)">Sửa</button>
            <button mat-menu-item (click)="delete_unit(row)">Đóng</button>
          </mat-menu>
        </td>
      </ng-container>

      <ng-container matColumnDef="unitCode">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="header scol"
        >
          Mã đơn vị
        </th>
        <td mat-cell *matCellDef="let element" class="item string">
          {{ element.unitCode }}
        </td>
      </ng-container>

      <ng-container matColumnDef="branchCode">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="header scol"
        >
          Mã chi nhánh
        </th>
        <td mat-cell *matCellDef="let element" class="item string">
          {{ element.branchCode }}
        </td>
      </ng-container>

      <ng-container matColumnDef="unitName">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="header lcol"
        >
          Tên đơn vị
        </th>
        <td mat-cell *matCellDef="let element" class="item string">
          {{ element.unitName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="unitSName">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="header lcol"
        >
          Tên viết tắt
        </th>
        <td mat-cell *matCellDef="let element" class="item string">
          {{ element.unitSName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="header lcol"
        >
          Địa chỉ
        </th>
        <td mat-cell *matCellDef="let element" class="item string">
          {{ element.address }}
        </td>
      </ng-container>

      <ng-container matColumnDef="telNo">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="header mcol"
        >
          SĐT
        </th>
        <td mat-cell *matCellDef="let element" class="item number">
          {{ element.telNo }}
        </td>
      </ng-container>

      <ng-container matColumnDef="faxNo">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="header mcol"
        >
          Số Fax
        </th>
        <td mat-cell *matCellDef="let element" class="item number">
          {{ element.faxNo }}
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="header lcol"
        >
          Email
        </th>
        <td mat-cell *matCellDef="let element" class="item string">
          {{ element.email }}
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="header mcol"
        >
          Loại
        </th>
        <td mat-cell *matCellDef="let element" class="item string">
          {{ element.type }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="header mcol"
        >
          Trạng thái
        </th>
        <td mat-cell *matCellDef="let element" class="item string">
          {{ element.status }}
        </td>
      </ng-container>

      <ng-container matColumnDef="remarks">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="header mcol"
        >
          Ghi chú
        </th>
        <td mat-cell *matCellDef="let element" class="item string">
          {{ element.remarks }}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdUserId">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="header mcol"
        >
          Người tạo
        </th>
        <td mat-cell *matCellDef="let element" class="item number">
          {{ element.createdUserId }}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdTime">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="header lcol"
        >
          Thời gian tạo
        </th>
        <td mat-cell *matCellDef="let element" class="item number">
          {{ element.createdTime | date: "dd/MM/yyyy HH:mm:ss" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="updatedUserId">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="header mcol"
        >
          Người sửa
        </th>
        <td mat-cell *matCellDef="let element" class="item string">
          {{ element.updatedUserId }}
        </td>
      </ng-container>

      <ng-container matColumnDef="updatedTime">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="header lcol"
        >
          Thời gian sửa
        </th>
        <td mat-cell *matCellDef="let element" class="item string">
          {{ element.updatedTime | date: "dd/MM/yyyy HH:mm:ss" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 50, 100]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
