<div class="button-row">
    <button mat-raised-button color="green" [routerLink]="['/table']" routerLinkActive="router-link-active"
        class="btn">Table</button>
    <!-- <button mat-raised-button color="green" [routerLink]="['/menu']" routerLinkActive="router-link-active"
        class="btn">Menu</button> -->
    <button mat-raised-button color="green" [routerLink]="['/tree']" routerLinkActive="router-link-active"
        class="btn">Tree</button>
    <button mat-raised-button color="green" [routerLink]="['/chart']" routerLinkActive="router-link-active"
        class="btn">Chart</button>
    <button mat-raised-button color="green" [routerLink]="['/sys-unit']" routerLinkActive="router-link-active"
        class="btn">Sys-unit</button>
</div>
<router-outlet></router-outlet>